[2020-05-06 14:05] minanagehsalalma opened #10 "Hi heyy can we get a one just like this but for injecting js and html ?"
For Windows for sure .

[2020-05-07 17:40] odedshimon commented on #10
Hi,
I didn't really understand your question.
do you mean as feature of BruteShark? As a new project?

[2020-05-10 23:22] #10 closed

[2020-05-23 19:12] odedshimon opened #12 "Reconstruct UDP Streams"
Reconstruct UDP Streams (Same way PcapProcessor reconstruct TCP Sessions)

[2020-05-23 19:25] odedshimon opened #13 "Carving by files by max size"
Improve file extracting module by changing the algorithm a bit:
if file footer wasn't found - carve the file by max size configuration

[2020-05-23 19:30] odedshimon opened #14 "Migrate BruteSharkCli to .NET Core"
Migrate BruteSharkCli to .NET Core

[2020-05-23 19:33] odedshimon opened #15 "Create internal logger"
Create internal logger.
Use it mainly to log exceptions at empty catch statements.

[2020-05-23 19:38] odedshimon opened #16 "pcapng support"
Support .pcapng file type.
Note: its better to start with checking if https://github.com/chmorgan/sharppcap is supporting pcapng.
If not, at least pop up a proper warning message (e.g. "Please convert file to pcap file type").

[2020-05-23 19:44] odedshimon opened #17 "ASN.1 support"
Create (or use an open source) class that can decode ASN.1 buffers.
That will be useful for parsing protocols like Kerberos.

[2020-05-31 18:33] NeverBit commented on #16
Hi Oded
Consider looking at [PcapngUtils ](https://github.com/ryrychj/PcapngUtils) for pcapng support.
IMO It's very intuitive and there's a .NET Standard fork by HakanL ([here](https://github.com/HakanL/PcapngUtils)) if you ever migrate to  the .NET Core/Standard combo.

[2020-06-05 18:12] odedshimon commented on #16
Thank you for the lead, i will check it out 👍

[2020-06-14 08:10] dafan81162 opened #20 "Support with IPv6"
When I pick a pcap with ipv6 tcp seesions, the program don't extract the password from the pcap.

[2020-06-14 11:29] odedshimon commented on #20
Please upload / send me the pcap if possible.

[2020-08-15 03:14] yezz123 opened #24 "Question"
Hey @odedshimon  i Wanna ask a simple Question what different between your project **`BruteShark`** and **`Wireshark`** ?
And thank you !

[2020-08-15 22:22] odedshimon commented on #24
Hi @yezz123 ,
While Wireshark is a general-purpose  packet analyzer (which i think is a great tool), BruteShark is a Network Forensic Analysis Tool with a specific purpose.

The purpose of BruteShark is to provide solution to **security researchers** and network administrators with the task of network traffic analysis while they try to identify weaknesses that can be used by a potential attacker t

[2020-08-16 18:42] yezz123 commented on #24
Thank you !
Now i Understand also can i Make an Analyze using one of **_linux_** distribution ?

[2020-08-16 22:26] odedshimon commented on #24
That's true.
It is possible to run BruteShark CLI on Linux OS.
Please take a look at the project Readme, there is a full  explanation for running BruteShark on Linux (and also a video demonstration).

[2020-08-17 00:59] #24 closed

[2020-08-24 21:33] #17 closed

[2020-08-24 21:34] #14 closed

[2020-08-25 22:18] amancini opened #28 "Windows exe file not work"
Hello,

i have install BruteShark on windows OS , but it not start after installation.

on Windows event i have found error message

Description: A .NET Core application failed.
Application: BruteSharkDesktop.exe
Path: C:\Program Files (x86)\BruteSharkDesktop\BruteSharkDesktop.exe
Message: A fatal error occurred. The required library hostfxr.dll could not be found.
If this is a self-contained appl

[2020-08-26 19:50] odedshimon commented on #28
Hi @amancini
Thank you for sharing this issue and solution.
We will add a proper check at the installer / document it as installation requirement.
Oded.

[2020-08-29 11:17] Stepy2005 commented on #28
I conform the solution with .NET Core SDK works! Bruteshark won't start till install .NET Core SDK. Thanks!

[2020-08-30 17:35] MrPuddinPie commented on #28
**.NET Core SDK** should be specified as a **prerequisite** for the Windows GUI version.
Had the same issue and this solved it.

[2020-08-30 22:56] odedshimon commented on #28
@amancini @Stepy2005 @MrPuddinPie
The project readme has been updated with *prerequisite*.
Further to that, in the future I will work on the installer project so it will be a self-contained app so * .NET Core SDK* installation will not be necessary at all.
best regards,
Oded

[2020-08-31 10:09] #12 closed

[2020-10-10 08:02] evandrix opened #33 "Support MacOS?"

[2020-10-13 21:54] odedshimon commented on #33
Hi @evandrix
Technically, .Net Core supports MacOS, so since BruteShark is fully implemented using .Net Core, it possible to run it on MacOS.
Yet, I didn't compiled or checked on MacOS due to a lack of time.
Feel free to clone this project and compile a MacOS version.
In case you do that, you can update me with the required changes and I will update the project accordingly.

[2020-11-15 17:18] s3m73x opened #37 "CLI Linux/Windows - Option to generate network map"
The CLI interface seems not to have an option to generate a network map.
You can show the module but not run it as it seems. Would be nice to have that option so there is no need to fiddle around with the GUI.
![bruteshark_no_network_map](https://user-images.githubusercontent.com/14231015/99191749-f974cf80-276e-11eb-8398-f83b92f7839d.png)

[2020-11-16 19:53] odedshimon commented on #37
Hi @s3m73x,!
Thanks for creating this issue.

It is an interesting and useful feature, therefore, it will remain in BruteShark backlog, until I will have the time to implement a solution for it, hopefully soon (or someone else).

In what way would you like to see the network map? (a  JSON that can be loaded into Neo4j? Splunk? )

[2020-11-29 18:36] #37 closed

[2020-12-01 02:02] odedshimon commented on #37
@s3m73x your feature request has been taken care thanks to @aviadtamir.
BruteShark v1.1.2 is now capable to export the network diagram data to a JSON file which is compatible with Neo4j (or other tools) for visualizing network diagram by analyzing a PCAP file connections.
We would love to get your feedback's.
![Neo4j](https://user-images.githubusercontent.com/18364847/100687988-01955780-338a-11eb-

[2020-12-02 08:24] webliqui opened #45 "Help json import on neo4j"
Hi, I have installed the tool on Linux, how can I import the json generated on neo4j to see the connection graph, like the image you entered in the tool homepage? Can you give me the commands please? Thank you!!

[2020-12-02 08:29] odedshimon commented on #45
Hi!
There is a wiki page with the commads:
https://github.com/odedshimon/BruteShark/wiki/Neo4j-queries-for-loading-BruteShark-network-map--file
Please take a look at it

[2020-12-02 08:43] webliqui commented on #45
Sorry but I hadn't seen this page.
Thank You!!

[2020-12-02 13:11] Dustie opened #46 "An assembly specified in the application dependencies manifest (BruteSharkDesktop.deps.json) was not found"
Hello :)

I just installed Brute Shark but nothing happens at launch. I have Wireshark, Npcap, .NET SDK and .NET Core SDK installed.

From Windows event viewer:

[code]

[2020-12-02 14:49] rbtoms commented on #46
I can confirm that this is an issue only in the latest release. I located the same application event in event viewer. All prior releases work as expected.

[2020-12-02 15:12] Dustie commented on #46
Yes I just tested: It only happens in 1.1.2.

[2020-12-02 16:05] odedshimon commented on #46
Hi, this is true, i believe there is a small bug in the installer project. This will be taken care as soon as posible.

[2020-12-02 20:01] odedshimon commented on #46
Bug fixed, please check @Dustie @rbtoms

[2020-12-02 20:02] #46 closed

[2020-12-02 20:08] rbtoms commented on #46
@odedshimon Green checks everywhere. Looks good! 👍

[2020-12-02 20:28] #45 closed

[2020-12-02 20:29] #28 closed

[2020-12-12 09:32] aviadtamir commented on #20
IPv6 is supported in BruteShark the problem may be a pcap file format that is still not supported in BruteShark(pcapng format for example) we will be glad if you could please attach the file which you encountered the issue with

[2020-12-12 13:29] nuschpl opened #51 "Extremely slow processing of pcap files"
I used to process ~15GB pcap files with https://github.com/lgandx/PCredz and I believed it's slow and not optimal tool. But BruteShark comparing to it is extremely slow. Filtering 15GB pcap with wireshark for NTLMSSP packets takes less than a minute on my 16core, 32GB hardware, it results in 3MB file which is processed by BruteShark almost the same ammount of time - something is not optimal here.

[2020-12-12 13:34] nuschpl opened #52 "Failure when export-hashes directory is not present"
The app fails when export-hashes CLI option is called and no export-hashes directory is present in binary directory. After spending few hours on processing pcaps this may be quite frustrating - app should create the directory or at least ask the user. Probably writing to OS default temp directory and then moving to  per OS default location like current directory or $HOME/BruteShark/${date}/export-

[2020-12-12 13:35] nuschpl commented on #33
Hello @evandrix any progress on this ? I can contribute also but don't want to repeat the research if any job was already done

[2020-12-13 02:44] evandrix commented on #33
i haven't had time to work on this since then, but i did verify that only `Brute Shark CLI` builds on MacOS, as expected, so a valuable contribution is to make the GUI + others work on MacOS. thanks

[2020-12-13 19:57] odedshimon commented on #51
Hi @nuschpl !

Thanks for letting me know.

If you used BruteSharkCli it is It makes sense that the run time was long since it is reconstructing all the TCP / UDP sessions by default.

Unfortunately the user-interface is currently does not provide the required capabilities for use a configuration that is appropriate for a particular analysis.. (let's say in your case it is enough to run only the h

[2020-12-13 20:03] odedshimon commented on #52
@nuschpl

You are right, due to a lack of time unfortunately the user-interface is currently does not provide the required appropriate input checks and does not using local files to store parsed data.

**In the near future we plan to make significant refactor that will also allow BruteSharkCli to run as a single command line with all the options that the tool provides and the proper input checks.

[2020-12-13 20:09] odedshimon commented on #33
@evandrix @nuschpl

@aviadtamir is currently working on adjusting the CI of this project (github actions) to be tested on multiple operating systems, including MacOS.
Relevant Branch: https://github.com/odedshimon/BruteShark/tree/upgrade-ci-multi-platform-build-and-test

[2020-12-13 20:09] aviadtamir commented on #33
The Cli is running on MacOs, of course that dot net needs to be installed on the machine

[2020-12-14 01:02] nuschpl commented on #51
Hi, if sacrificing some functionality (reconstructing sessions in this case) is the only solution if current implementation is slow. I have at least two suggestions:

- use all CPU cores- in my case one core was 100% , while other 15 cores/threads were idling - it was not I/O issue.
- use moving window for recreating the session - sorry for ignorance - didn't looked into the code yet, but looking

[2020-12-14 20:26] odedshimon commented on #51
It's definitely not the only solution, but a trivial one (and useful for the general user experience as well).
Thank you for suggesting this, I will consider it as possible improvements.
Also, feel free to fork this project and implement any of this solutions, as well as pull-requesting to this repo in case you will decide to do it.

[2020-12-18 09:12] aviadtamir commented on #51
@nuschpl

there's a branch in this repo in which i'm trying to overcome this issue, that a look if you want to :)

a little glimpse to what i've already accomplished;

https://user-images.githubusercontent.com/24754559/102596487-e82e3280-4121-11eb-8705-6871f6e39d2d.mp4

[2020-12-23 03:51] vtmike88 opened #56 "Additional Fields for show-networkmap / export-networkmap"
Would it be possible to add additional packet flow fields for the  show-networkmap / export-networkmap commands?

Specifically I'm looking for a way to add timestamp information (first packet, last packet), total number of packets and sum of data sent per flow.

[2020-12-24 21:36] odedshimon commented on #56
Hi @vtmike88 !
I plan t implement a shared context for all the entities extracted (e.g. sessions, host, credentials etc).

Once that context will be implemented, all the relevant entitles related to a host could be exported including sessions (and as part of that also the the above insights could be achieved).

I will consider this suggestion during the design. thanks for uploading it.

Oded.

[2020-12-29 19:40] Lorekin opened #57 ".exe Dont work"
Npcap and .NET SDK installed
![ConEmu64_4iJ745oeAW](https://user-images.githubusercontent.com/26692817/103309695-ce94c100-4a26-11eb-9ab3-40a12f0b22bf.png)

[2021-01-02 12:13] #33 closed

[2021-01-02 17:53] odedshimon commented on #57
Hi @Lorekin,
You are right, a missing DLL file.
I will fix it.
Thank you.

[2021-01-02 18:17] #57 closed

[2021-01-02 18:19] odedshimon commented on #57
You can now download the installer again, it should work

[2021-01-08 23:17] odedshimon commented on #16
The latest release is supporting PCAPNG files (https://github.com/odedshimon/BruteShark/releases/tag/v1.1.4)

[2021-01-08 23:17] #16 closed

[2021-01-08 23:57] odedshimon opened #61 "Implement a single-command mode in BruteSharkCLI"
Use https://github.com/commandlineparser/commandline
to enable BruteSharkCli to get a single command from user instead of in app shell mode

[2021-01-09 00:05] odedshimon opened #62 "Implement Live-Capture Option"
Use SharpPcap live capture option

[2021-01-09 00:09] odedshimon opened #63 "Improve Installer: Enforce .NET Core SDK As Prerequisites Of BrueSharkDesktop"
Edit BruteSharkInstaller project so it will enforce existence / installation of  .NET Core SDK before installing BruteSharkDesktop.

NOTE: BruteSharkInstaller  is a WiX Toolset project, if  you are not familiar with this type projects it's worth to learn how to use WiX Toolset before working on this issue.

[2021-01-09 00:10] odedshimon opened #64 "Improve Files Extraction Module: Extract Files From FTP Traffic"

[2021-01-09 00:10] odedshimon opened #65 "Improve Files Extraction Module: Extract Files From SMB Traffic"

[2021-01-09 00:10] odedshimon opened #66 "New Module: Emails Extracting (MIME Parser)"

[2021-01-09 00:11] odedshimon opened #67 "New Module: WiFi Data (bssid, ssid etc)"

[2021-01-09 00:11] odedshimon opened #68 "New Module: VOIP Calls Extraction"

[2021-01-09 21:53] odedshimon opened #69 "Github Actions Workflow: Implement Auto-Release step"

[2021-01-17 20:16] odedshimon opened #71 "Improve Installer: Enable Auto-Update"
Today a user needs to uninstall BruteShark using the control panel before installing a new version.
Using the WiX installer enable to upgrade the installation if the version is higher than the current version.

[2021-01-19 16:38] Darkcast opened #72 "[Question] Mac installation procedure"
is there anyway this can be run on a mac ?

Thank you

[2021-01-19 16:58] aviadtamir commented on #72
Hi
The BruteShark Cli can run on Mac, First you'll need to install .net core.and libpcap.
You can check out our github actions pipeline for this repo and see that we are running our test and building the project also on Mac.

Enjoy

[2021-01-20 14:45] Darkcast commented on #72
Thanks for your reply, are there any instruction on how to install the .net, .core libs and make them work with the app?
thank you

[2021-01-20 15:09] aviadtamir commented on #72
Check out this link and follow the instructions

https://dotnet.microsoft.com/download?initial-os=macos

On Wed, Jan 20, 2021, 16:45 Darkcast <notifications@github.com> wrote:

[2021-01-23 00:23] odedshimon commented on #51
BruteSharkCli now has two modes: single command and shell mode. The single command mode works by getting all the relevant parameters for the processing and then printing the results to stdout or files. The shell mode allows to perform each step individually.

You can just set the credentials module and configure an output directory and all your hashes will be exported automatically.

Example Video

[2021-01-23 00:23] #51 closed

[2021-01-23 00:25] odedshimon commented on #61
Since version v1.1.5 BruteSharkCli  now has two modes: single command and shell mode. The single command mode works by geting all the relevant parameters for the processing and then printing the results to stdout or files. The shell mode allows to perform each step individually.

Example Video: https://youtu.be/GjGV5vwIGi8
Please see the 'Usage' section for detailed documentation and examples.

[2021-01-23 00:25] #61 closed

[2021-01-23 05:26] jkordani opened #74 "[Question] Linux build steps?"
Title says it all.  Forgive me if its already there, I can't find it

[2021-01-23 07:03] aviadtamir commented on #74
You need to use dotnet to build the cli on Linux

See our wiki page for reference

https://github.com/odedshimon/BruteShark/wiki/Packing-BruteShark

Aviad

On Sat, Jan 23, 2021, 07:27 Joshua Kordani <notifications@github.com> wrote:

[2021-01-24 09:54] cgoat opened #75 "Export of NetworkMap Failes"
I get the following message when i try to export the networkmap

Error: Access to the path '/home/xxx/dump/NetworkMap/networkmap.json' is denied.

Command run is ./BruteSharkCli -m NetworkMap -i /home/xxx/dump/server.tcpdump -o /home/vbandaru/dump/
Result
[+] Started analyzing 1 files
File : server.tcpdump Processing Started
File : server.tcpdump Processing Finished
Error: Access to the path '/hom

[2021-01-24 11:55] odedshimon commented on #75
Hi @cgoat,
It seems that you dont have write permisions to the directory.
You can run bruteshark with proper permissions (e.g root) or change the directory permissions.
Please let me know if that helped you.
Oded

[2021-01-24 17:32] cgoat commented on #75
Hi Oded,
Thanks for your prompt response. Yes. I have run it as root and also with my account. This is running on my Laptop where i have full permissions.  I have noticed that it is trying to create a file network.json under the NetworkMap folder. However when i do an ls under the NetworkMap folder i see a **directory** called network.json, not a file.

[2021-01-24 21:14] odedshimon commented on #75
Thank you I will fix it this week.

[2021-01-25 00:17] cgoat commented on #75
Thank you !!

[2021-01-25 15:13] ravening commented on #75
I'm getting the same error as well. Running on Ubuntu as root and has given 777 permission to the folder but it tries to create a new folder and then fails

[code]

[2021-01-25 18:23] #75 closed

[2021-01-25 18:38] odedshimon commented on #75
@ravening, @cgoat
Please check the new version: https://github.com/odedshimon/BruteShark/releases/tag/v1.1.6
I will appreciate if you let me know if that solve the problem.
Oded

[2021-01-25 19:00] cgoat commented on #75
Works for me on Ubuntu. Thank you !!

[2021-01-27 04:26] cgoat opened #77 "Feature Request"
Can we add an option of adding more features to the JSON file. Right now i see the Source, Destination, Protocol, SrcPort, DestPort.  Other options can be details about the packet itself (Time, Sequence Number, Flags etc..). I am trying to build a graph in neo4j.

I currently am able to create a graph with the code below

WITH  "file:///home/xxx/dump/output.json" AS url
CALL apoc.load.json(url)
YI

[2021-01-27 15:34] odedshimon commented on #77
Hi @cgoat,
Thanks you for your suggestion.
I found it a usefull feature and it will be implemented in the next releases - so keep follow 😃
Cheers,
Oded.

[2021-01-30 16:57] #74 closed

[2021-01-30 16:59] #20 closed

[2021-02-21 03:47] shittyfollower commented on #63
I installed the SDK as a pre-requisite, and then installed BruteShark on Windows. It doesn't work however, double clicking the .Exe and/or shortcut does nothing. Right click > Run as Admin does nothing either. Could not get it to work. Any help is appreciated.

[2021-02-21 21:15] odedshimon commented on #63
Hi @shittyfollower
Have you installed .net framework or .net core?
What version of .net core?
Do you have Wireshark (or npcap installed) ?

[2021-02-22 01:44] shittyfollower commented on #63
Hey,
Thanks for the response!

- https://dotnet.microsoft.com/download

.NET 5.0 (recommended)

- I install NPCAP from Nmap.org

[2021-02-22 08:03] odedshimon commented on #63
@shittyfollower
You need to instal .Net Core.
E.g
https://dotnet.microsoft.com/download/dotnet/thank-you/sdk-3.1.406-windows-x64-installer

[2021-02-23 05:42] shittyfollower commented on #63
That is embarrassing. Thanks.

[2021-02-23 08:59] odedshimon commented on #63
@shittyfollower
Thats cool
Cheers 🙂

[2021-03-06 18:51] #62 closed

[2021-03-08 21:35] odedshimon commented on #62
Since version v1.2.0 both versions of BruteShark is now capable of live capturing and analyzing network data directly from a network interface.

[2021-03-08 21:42] odedshimon commented on #52
Since version 1.1.5 proper cli user interface with all the needed capabilities has been implemented.
It includes proper input checks, help menu, and more. It can also automatically export the extracted results to a given directory.
I would love to get feedbacks.

[2021-03-08 21:42] #52 closed

[2021-03-09 15:11] minanagehsalalma opened #83 "Since you add a sniffer , can we get ssl strip added too ?"

[2021-03-10 18:19] minanagehsalalma opened #84 "Double clicking on it does nothing at all WIN 10"
version 1909 build 18363.1379

i have wireshark and it works perfectly if that helps .

[2021-03-10 21:49] odedshimon commented on #84
There was a small bug with the release, I have fixed it.
Thanks for letting me know.
You can now re install the version, the latest release was updated.
Please update if that worked for you

[2021-03-10 22:19] minanagehsalalma commented on #84
@odedshimon nothing changed update the msi file pls.

[2021-03-11 02:25] bopin2020 opened #86 "Input "start",there was nothing happened with BruteSharkCli."
![image](https://user-images.githubusercontent.com/49940777/110725306-57fc1700-8252-11eb-80b6-c2bc371fa171.png)

After inputing add-file some examples *pcap files in ubuntu1604 console and Windows WSLv2 console. it seems as if dead:) I'm curious about nothing happened. I dont know how to solve this trouble.

[2021-03-11 11:05] bopin2020 commented on #86
Stupid mistakes:) emmm. Thank you!

[2021-03-11 23:00] odedshimon commented on #86
@bopin2020 ,
I prefer mistakes over bugs 😸 Cheers!
Feel free to use, learn and contribute to this project.
Oded

[2021-03-11 23:01] #86 closed

[2021-03-11 23:06] odedshimon commented on #84
@minanagehsalalma ,
Did you re installed it? (control panel -> add or remove programs, download msi again and installing it)?
What is your .Net Core version?
Which version of Windows do you use?

[2021-03-11 23:09] odedshimon commented on #83
That's a great idea, I hope we will get to do it.
If you are a C# developer feel free to contribute to this project.

[2021-03-12 15:12] minanagehsalalma commented on #84
@odedshimon mate you haven't updated it :/
![image](https://user-images.githubusercontent.com/20546638/110959232-28cece00-8356-11eb-8fa4-eb1261f3efb0.png)

[2021-03-12 15:24] minanagehsalalma commented on #83
@odedshimon also would arp spoofing be a good idea or ...?

[2021-03-12 22:34] odedshimon commented on #84
@minanagehsalalma
I did.
I edited the release by replacing the msi file with a new msi including the bug fix - **therefore the release date didn't changed.**
Please upload a picture of the BruteShark version installed on your PC (control panel -> add or remove programs), **it should be 1.2.7.0** (the former was 1.2.6.0).
![image](https://user-images.githubusercontent.com/18364847/111005455-846b7c8

[2021-03-12 22:38] odedshimon commented on #83
BruteShark is a passive analyzer, there are many great tools that can execute ARP Spoofing among other techniques and therefore I don't think ARP Spoofing utility is a useful feature at the moment.

[2021-03-13 14:03] minanagehsalalma commented on #83
@odedshimon  In windows?  Nope.

[2021-03-13 22:44] minanagehsalalma commented on #84
@odedshimon
![image](https://user-images.githubusercontent.com/20546638/111051802-746c9f00-845e-11eb-9377-beab18ff18fb.png)

[2021-03-15 16:09] PoTskiii commented on #84
I have the same issue...

[2021-03-16 07:18] odedshimon commented on #84
Thank you @PoTskiii .
I will update the readme to be more clear about it.
Also i will try to enforce it at the msi file (there is already an issue about it #63 )

[2021-04-02 22:42] odedshimon commented on #84
readme file was updated with a link to .NET Core Runtime 3.1 as prerequisite.

[2021-04-02 22:42] #84 closed

[2021-04-09 22:10] ChamDK opened #87 "Not starting"
installed the exe, cant even open the program, no errors, just nothing on the screen.
EDIT: got it working
However it do not show the hashes of kerberos.

[2021-04-09 23:39] odedshimon commented on #87
Hi @ChamDK !
I will need the PCAP files to debug it, please attach them to this thread or send them to my mail (contact.oded.shimon@gmail.com).
If you don't want to send the file, feel free to debug it yourself (I accept Pull-Requests).
Oded.

[2021-04-10 06:06] aviadtamir commented on #87
Hi @ChamDK , sounds like you need to install .net core runtime on your machine, download it from here:
https://dotnet.microsoft.com/download#:~:text=.NET%20Core-,.NET%20Core%20is%20a%20free%2C%20cross-platform%2C%20open,many%20different%20types%20of%20applications.

[2021-04-11 21:35] odedshimon commented on #68
Since Version v1.2.1 both versions of BruteShark (BruteSharkDesktop & BruteSharkCli) is now capable to extract Voip calls.
Also, example PCAP files where added to the repo.
https://github.com/odedshimon/BruteShark/releases

[2021-04-11 21:35] #68 closed

[2021-04-11 23:06] svewa commented on #83
Not exactly a strong point for including SSL strip functionality :D

[2021-04-12 21:49] minanagehsalalma commented on #83
shhh , i am telling you that we need it :DDDDDDD

[2021-04-16 10:01] odedshimon commented on #87
@ChamDK Since you have not reply, I'm closing the issue.

[2021-04-16 10:01] #87 closed

[2021-04-19 09:57] odedshimon opened #90 "Kerberos hash didn't extracted in some cases"
The attached file contains Kerberos hashes, but for some reason it is not extracted.
From an initial inspection, it seems that the Kerberos payload is not a valid ASN1 serialized data.

[hideandseek.zip](https://github.com/odedshimon/BruteShark/files/6335003/hideandseek.zip)

[2021-04-25 21:50] odedshimon commented on #90
That reason for this issue seems to be a lack of consideration in the field "Record Mark" when parsing Kerberos over TCP packets.
I have started working on it on that branch: https://github.com/odedshimon/BruteShark/tree/improve-kerberos-parsing

[2021-05-01 21:35] #90 closed

[2021-05-01 21:52] odedshimon commented on #90
Fixed. Since version 1.2.2 it is working also with Kerberos over TCP with "Record Mark" field.

[2021-05-01 21:53] odedshimon commented on #87
@ChamDK Fixed.
(https://github.com/odedshimon/BruteShark/issues/90)

[2021-05-28 02:22] herotheo commented on #83
shhh , i am telling you that we need it really!!!!!!!!!!!!!!!

[2021-05-28 02:24] herotheo commented on #83
or who can tell us  some train of thought

[2021-05-28 04:12] herotheo opened #92 "who can give an example of PcapAnalyzer Modules which using Packet.Net to analyse pcap files?"
谁有PcapAnalyzer的Modules例子，使用Packet.Net进行pcap 文件分析？

[2021-05-30 20:11] odedshimon commented on #92
Hi @herotheo,
I'm not sure I understand the question.
Anyway, if you want to create a new module, you just need to implement the IModule interface (https://github.com/odedshimon/BruteShark/blob/master/BruteShark/PcapAnalyzer/Modules/IModule.cs).
You can take a look at the other modules for inspiration.
Oded.

[2021-06-13 10:43] #92 closed

[2021-06-25 09:17] qq1176914912 opened #93 "needs to Reassembled TCP Segments"
there s  something wrong when Reassembled TCP Segments

[2021-06-30 22:57] odedshimon commented on #93
Since there is no more relevant information, issue closed.

[2021-06-30 22:57] #93 closed

[2021-07-05 07:58] qq1176914912 opened #94 "can't recognize " Tcp out-of-order""
[gov.cn_SSL过滤.zip](https://github.com/odedshimon/BruteShark/files/6762602/gov.cn_SSL.zip)
in the pcap file,No.338  ,wireshark shows " Tcp out-of-order"     and bruteshark can't recognize it.

[2021-07-06 09:13] qq1176914912 opened #95 "Clear the analyzed data, re-analyze again, and re-assign"
I have a question. I want to clear the results of the analysis, and then re-analyze the assignment. Now there is only NetworkMap, I don't know how to solve it. When I clear the data and analyze the allocation again, the NetworkMap is blank and will not be assigned again. how to solve this problem?

[2021-07-13 20:38] odedshimon commented on #95
Hi @qq1176914912!
At this moment there is no mechanism for clearing the data, though it a good feature.
I hope I will get to it soon.
If you feel like implementing it by yourself, feel free to fork and pull request the changes.
Thanks. Oded.

[2021-07-13 20:43] odedshimon commented on #95
Anyway as a temporary solution, you can always reboot the app and re-analyze the files

[2021-07-13 21:31] odedshimon commented on #94
Hi @qq1176914912,
I processed the above file at both BruteShark and Wireshark.
The results are similar - there is only one TCP session at the file which is extracted just fine.
Please explain to me exactly what problem you experienced.
Oded

[2021-07-14 14:42] bishwanaren opened #96 "Unable to run GUI in Windows 10"
Hi, For some reason, I'm not able to run the GUI in windows 10, But CLI works, Kindly let me know it supports Windows 10 and how to resolve as it doesn't start.

[2021-07-14 18:24] odedshimon commented on #96
Hi @bishwanaren !
It can run on Windows 10.
Have you installed al the prerequisites?
Which version of .NetCore is installed on your computer?

[2021-07-15 08:36] qq1176914912 commented on #95
Ok thanks for reply

[2021-07-15 09:39] qq1176914912 commented on #94
![KP@03@$@QU6HVTPIQAM7}2V](https://user-images.githubusercontent.com/79817742/125766432-8c559031-06d0-41e8-80fe-f35cf0b40e57.png)

[2021-07-20 21:57] richardcurteis commented on #96
I have this same issue, fresh install on Win10 and Wireshark (for winpcap) with .NET Core 3.1.17 x64

[2021-07-20 22:24] odedshimon commented on #96
Thank you @richardcurteis!
That's make sense.
I will update the prerequisites at the readme to be more clear about it.

[2021-07-29 23:41] #96 closed

[2021-08-07 21:38] odedshimon commented on #94
Hi @qq1176914912 again.
I have translated your message and I understood that you find it weird that it worked, so I took another look at the file (For general information - I do not read Chinese).

I have found that the processing have failed **since the file name contains Chinese characters**.
When I rename the file to English letters only, the problem does not exist (I did that last time before

[2021-08-15 21:21] #95 closed

[2021-08-15 21:26] odedshimon commented on #95
@qq1176914912
Following your request, the feature has been implemented and will be present at next release.
![image](https://user-images.githubusercontent.com/18364847/129493338-93383fe7-4708-47c5-850d-cbec31f7be4e.png)

[2021-08-22 03:17] Shanzem opened #99 "Runing error?"
See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

************** Exception Text **************
SharpPcap.PcapException: Error setting PcapDevice mode. : driver error: working mode not recognized
   at SharpPcap.Npcap.NpcapDevice.set_Mode(CaptureMode value)
   at PcapProcessor.Sniffer.StartSniffing(CancellationToken ct)
   at BruteSharkDes

[2021-08-22 09:06] odedshimon commented on #99
Hi @Shanzem,
I didn't understand your problem.
Please add a detailed description of the problem including examples.
Oded.

[2021-08-22 11:22] Shanzem commented on #99
Ok gimmie a min and thank you!

[2021-08-22 11:29] Shanzem commented on #99
Ok the program loads up just fine.

I followed the instructions and already have pcap installed from wireshark :) Downloaded the latest vision just to be sure.
I then downloaded the x64 .net 3.0 runtime and installed and rebooted.

I then downloaded the pre built 64bit binary package and installed.

Now using the module DNS and network mapping i get the error above when i click capture on wifi.

!

[2021-08-22 12:11] Shanzem commented on #99
![WindowsNET30](https://user-images.githubusercontent.com/36472755/130354587-be95626a-7677-44c7-85c0-2b9bfb31d8d8.png)

[2021-08-23 22:10] odedshimon commented on #99
Thanks for the detailed description.
Since the app is launching just fine I tend to believe it is a bug at the only at the sniffing flow or at SharpPcap library (one of the major packages BruteShark is using).

For isolating the reason it would be great if you check some offline analysis by loading some PCAP files (you can get those from this repo at - https://github.com/odedshimon/BruteShark/tree

[2021-08-24 01:24] qq1176914912 commented on #94
The problem I encountered is that when the session gets out of order, that is, the tcpSession in the code method, the data is out of order, and the session data behind the out of order cannot be analyzed correctly. The reason is that the out of order cannot be identified.

[2021-08-24 01:43] qq1176914912 opened #100 "Can't capture the packet"
The problem I encountered is that Wireshark shows that my WLAN has data fluctuations, but when I use the software to select WLAN, I can’t grab anything.
![Q7HQL$B}{EWIL8080IZ)50B](https://user-images.githubusercontent.com/79817742/130542049-a4f334ea-b60a-4a05-a3be-890404c0abd1.png)
![JC~7QN8 Q{A@NRGP8BC`XHU](https://user-images.githubusercontent.com/79817742/130542050-b5b318f7-3140-437d-a5e5-be02a

[2021-08-24 02:05] Shanzem commented on #99
On it! Will check and report back.

[2021-08-24 02:15] Shanzem commented on #99
Huston we have a problem.... they work as intended!

![pop3](https://user-images.githubusercontent.com/36472755/130544990-97dc8f86-b726-4251-b069-f9e3d1e13b1a.jpg)
![tcip5](https://user-images.githubusercontent.com/36472755/130545001-6f3d7432-1a2c-4228-92f2-4184925fc94b.png)
![htmlsmallfile](https://user-images.githubusercontent.com/36472755/130545040-573598fa-46be-4e34-925a-56ec155bc726.jpg)

[2021-08-25 01:04] #100 closed

[2021-08-25 01:12] qq1176914912 commented on #99
I also encountered this problem. The npcap1.31 version can capture packets normally but cannot capture the data. The latest version of npcap 1.51 will report an error when it starts.
![S7YM)~AUD%R~4KHOY94J}41](https://user-images.githubusercontent.com/79817742/130710091-2479d1c0-b464-462f-92a2-d5405c3680c5.png)
![)WNEXMZKO%$OO}KYDPU 2AF](https://user-images.githubusercontent.com/79817742/130710102

[2021-08-25 08:50] odedshimon commented on #99
Hi @qq1176914912 , @Shanzem
The problem you have described happened to me too. There seems to be a problem with the sniffing wireless interfaces (I sniffed successfuly  an Ethernet interfaces), after short debugging it seems that the Sniffer class does not manage to capture any packets, I think it is related to the SharpPcap library that BruteShark is using. I will open an issue at SharpPcap repo

[2021-08-30 21:47] #99 closed

[2021-08-30 21:51] odedshimon commented on #99
There was no bug with capturing wireless interfaces, **there was a bug caused that although a certain network interface was selected at the user interface, another network card was selected behind the scenes**.
At first I thought it was a problem with capturing wireless network interfaces only, but in fact the phenomenon could happen with any network interface.
**Bug fixed and merged to master** a

[2021-08-31 00:44] qq1176914912 commented on #99
You're welcome, let's make the program more perfect together

[2021-09-03 22:13] odedshimon opened #103 "Bug: Progress bar is stay at 100% after the first time it reaches 100%"
That happens because the class `ProcessingPrecentsPredicator` state is not re-initialize properly.

[2021-09-03 22:49] #103 closed

[2021-09-03 23:32] odedshimon opened #105 "Improve Performance - implement multi thread mechanism"
Improve BruteShark performance by refactor the BLL layer (aka `PcapAnalyzer`  project to use multi thread mechanism).
That includes:
* Design the solution and discuss about it with me.
* Implement it.
* Writing tests that will test exactly this mechanism.

[2021-09-06 00:49] qq1176914912 opened #106 "There is a problem with the analysis packet"
If there is a problem with this data packet, please take a look at it.
[test.zip](https://github.com/odedshimon/BruteShark/files/7112654/test.zip)

[2021-09-06 06:15] qq1176914912 opened #107 "usb capture"
Will the USB capture package be added to the program in the follow-up? I think this is also necessary

[2021-09-08 15:01] odedshimon commented on #106
Hi @qq1176914912,
That's true there is a problem with the processing of this file.
I have figured that the reason is a library named Haukcode.PcapngUtils which is not needed anymore since SharpPcap added PCAP-NG support.
You can follow the fix at this branch: [remove-haukcode-pcapng-nuget](https://github.com/odedshimon/BruteShark/tree/remove-haukcode-pcapng-nuget)

[2021-09-08 15:30] odedshimon commented on #106
The file is currently being analyzed without any exceptions:
![image](https://user-images.githubusercontent.com/18364847/132539164-79bbdda5-8325-433f-8aa6-f8f80f21cff3.png)
The above fix will take place at the next release.
Thank you for letting me know.
Oded.

[2021-09-08 15:31] #106 closed

[2021-09-08 15:35] odedshimon commented on #107
Hi @qq1176914912,
I love that's ideas but unfortunately there are many other features I would like to implement before.
I accept pull-requests if anyone is interested in implementing the above features.

[2021-09-15 16:38] #77 closed

[2021-09-15 16:45] odedshimon commented on #77
Hi @cgoat
I have implemented a massive refactor to handle this feature.
Network Map user control now have a control describes the node details (open ports, DNS records, sessions count)
The exported files including a new file named "BruteShark Network Nodes Data.json" that holds all the nodes details.

**That will be take place at next release**

Thanks you for your suggestion :-)

![image](https:/

[2021-09-19 22:47] #71 closed

[2021-09-21 21:40] odedshimon commented on #56
Hi @vtmike88,
I have implemented a shared context for all the entities extracted and added some additional fields to the network map:

- open ports
- DNS records
- Sessions count

The exported files including a new file named **"BruteShark Network Nodes Data.json"** that holds all the nodes details (You can take a look at the latest release).

I can add the the first packet / last packet time and

[2021-09-21 21:41] odedshimon commented on #56
Examples:
![NodeDetails2](https://user-images.githubusercontent.com/18364847/134251590-c2adb25f-8022-4582-95ec-bd28c1aff78b.png)
![133478184-7bb28c3f-24d7-4b4f-b54d-5c9d3f59f3eb (1)](https://user-images.githubusercontent.com/18364847/134251620-4102a403-a2f9-4784-b10b-5c81007c22a8.png)

[2021-09-28 14:52] #56 closed

[2021-09-28 14:57] odedshimon commented on #56
You haven't respond me but yet I have added some more fields that I thought they would be useful, not everything you asked for but I considered your suggestion:

1. Sent data - The amount of data (bytes) sent by the host.
2. Received data - The amount of data received (bytes) by the host.
3. Domains - the domains that the host is a member of.
4. Domain users - domain users that logged into the hos

[2021-10-21 03:57] qq1176914912 opened #118 "Have you considered increasing the exported and captured pcap data?"

[2021-10-23 20:53] #118 closed, assigned to nobody

[2021-11-30 01:39] qq1176914912 opened #121 "The network topology diagram is getting darker and darker with repeated clicks"
When the network topology map is painted repeatedly, it will become darker and darker. For example, when he finishes painting 1 session, I click 1 session, and then when 2 session is finished, I click again. The last selected state of 1 session does not disappear but continues to select this Analogy leads to getting darker and darker
![1](https://user-images.githubusercontent.com/79817742/14396986

[2022-01-15 08:55] syloktools opened #122 "BruteSharkCli is killed when trying to use network map module on a directory of pcaps, no output created"
Output from terminal:

xxx@xxx:/xxx$ sudo ./BruteSharkCli -m NetworkMap -d /xxx/data/packets/servers/dailylogs/2019-05-02/ -o /xxx/results
[+] Start analyzing 11 files
[+] Start processing file : daemonlogger.pcap.1556805601
[+] Finished processing file : daemonlogger.pcap.1556805601
[+] Start processing file : daemonlogger.pcap.1556816401
[+] Finished processing file : daemonlogger.pcap.155681640

[2022-01-15 21:27] odedshimon commented on #122
Hi @robertnixon2003 !
Thanks for creating this issue.
There is no built-in limitation at BruteShark, also there is no log containing the phrase "killed".
Therefore I tend to believe it some kind of operating system lack of resource.

I can suggest few ways to investigate the issue:

1. Make sure the folder exists and it has write permissions.
2. Run all files one by one to ensure that this behavio

[2022-01-27 12:07] fariaalex commented on #122
Hi guys, I also encountered the same problem.
See below

[code]

[2022-01-27 14:55] neolace commented on #105
@odedshimon Can I help with this?

[2022-01-27 23:51] odedshimon commented on #105
Hi @neolace!
You are welcome, feel free to consult with me on anything

[2022-01-28 04:31] neolace commented on #105
Hi @odedshimon!
Awesome, let me check the code first, then I'll get back to you wrt design, implementation and tests as outlined above.
Could you assign this one to me?

[2022-01-28 09:10] odedshimon commented on #105
Done, sounds great.

[2022-01-28 12:07] neolace commented on #105
Hi @odedshimon,

I'm using Rider from JetBrains, it states that the author is unknown on every method, is this expected?

I don't see comments, not that I'm a fan, but do you want me to add comments or stay with the flow?

[2022-01-28 18:50] odedshimon commented on #105
@neolace
Thats not a problem.
Regard to comments I ussualy document only critical / unclear code sections, feel free do document as you like.

[2022-01-30 21:58] neolace commented on #105
@odedshimon
Cool, thank you.

May I create an issue from this thread?

[2022-01-31 17:50] odedshimon commented on #105
@neolace
Not sure I understand, this is already an issue

[2022-02-01 12:11] neolace commented on #105
@odedshimon
What was I thinking, you're right of course.

Is there a specific sub project or section of the code that you would like me to takle first?

Which branch should I use to apply changes wrt to this issue? Pull request etc

[2022-02-01 23:06] odedshimon commented on #105
1. I whould start from PcapAnalyzer project, each task can run independently, therfore it is a sutable section for multi-threading.
2. You can send Pull Requests to master branch, I will merge it after code review and testing. You can create local branch as you like at your fork.

[2022-05-23 09:37] neolace commented on #105
@odedshimon
Apologies for the delay, I was swamped. On this now.

[2022-06-09 05:53] qq1176914912 opened #123 "Error in getting Data of tcpsession"
I use your method to get the data data of tcpsession as shown in the figure
![1](https://user-images.githubusercontent.com/79817742/172773055-07bc82cd-f6ad-415e-b30e-d21ae5a559e9.png)
When encountering [TCP Previous segment not captured] and [TCP Out-Of-Order] in wireshark, there is a problem. In order to obtain data with a length of 67 bytes, "TCP Previous segment not captured" should be obtained

[2022-07-01 11:10] Limpem opened #124 "BruteSharkCLI will fail on pcap files when running on Ubuntu 22.04 LTS"
BruteSharkCLI will fail on processing pcap files when running on the 22.04 LTS release on Ubuntu (20.04 seems to work fine):

`./BruteSharkCli -i Pcap_Examples/Ftp.pcap -m Credentials -o Example`
`[+] Start analyzing 1 files`
`[+] Start processing file : Ftp.pcap`
`ERROR: Failed to process file : Ftp.pcap`
`[+] Successfully exported extracted files to: Demo/Files`
`[+] BruteShark finished processi

[2022-07-01 20:19] odedshimon commented on #123
@qq1176914912
Thank you.
Marked this as "Help Wanted" issue since I'm not sure when I will get to it.
Feel free to send a Pull Request if you want to fix it.

[2022-07-01 20:22] odedshimon commented on #124
@Limpem
Thank you for reporting this.
1. Are you sure you have read privileges for this file?
2. Can you run it at debug mot (e.g. using VS Code) and share the exception?

[2022-07-04 09:19] Limpem commented on #124
Thank you for looking into this. To answer your questions:
1. Yes (I am using the Ftp.pcap found in the examples folder)
2. When I use debug-mode (./BruteSharkCli --debug) on 20.04:
`Brute-Shark > add-file Ftp.pcap`
`Brute-Shark > start`
`[+] Packets Analyzed: 38, TCP: 38 UDP: 0`
`[+] TCP Sessions Analyzed: 3 UDP Streams Analyzed: 0`
`[+] Passwords Found: 1`
`[+] Hashes Found: 0`
`[+] Network Conn

[2022-08-13 06:50] JJ301-Artthesia opened #125 "Converting Extracted .Media File types"
I Am able to extract .Media file types from Voip pcap files. How do i convert to MP3 afterwards The tool VLC does not work.
On windows OS

[2022-08-14 01:30] JJ301-Artthesia opened #126 "JPG not rendering"
Some JPG files do not render in Bruteshark after exporting carved photos in hopes that they will render i get a message that says "sorry, Photos can't open this file because the format is currently unsupported, or the file is corrupted. My question is this an Encryption issue? Corruption issue? if it's an encryption issue you might want to add in decryption functionality for RSA and similar encryp

[2022-08-14 10:05] odedshimon commented on #125
Hey @JJ301-Artthesia,
I usually use Audacity to play raw media files.

[2022-08-14 10:16] odedshimon commented on #126
Hey @JJ301-Artthesia,
It is probably not related to encryption as the files are extracted using header-footer parsing.
Feel free to atach the relevant files here - in case you want to raise the chance someone from the community will investigate and debug it (I will not get it at the next few weeks).

[2022-08-19 03:43] Century7 opened #128 "A few edits in Readme file"
Corrected mistakes in "About" section.

[2022-09-07 16:44] RobbeBryssinck commented on #105
@neolace
Are you still working on this?

[2022-09-08 12:41] cutaway opened #129 "Recommendation: Remove Spaces in Folder and File Names"
The use of spaces in folder and file names is a horrible practice. It makes importing data into other tools and scripts very difficult.

Example:

[code]

I recommend using the underscore character `_` instead of a space. As example: `BruteShark_Network_Map.json`. The file names are still readable and the tool's output is much more useful.

Thank you for your consideration of

[2022-09-19 09:57] sbrun commented on #124
Hello
We have the same issue in Kali / Debian. It appeared with the latest version of the libc in Debian. I ran the command with strace to debug the issue.
Here is the relevant part I think:
[code]

brutesharkcli is looking for libdl.so but it does not exist anymore, the libdl has been merged in the libc:
https://sourceware.org/glibc/wiki/Release/2.34#Libraries_merged_into_libc

I fixed the issue

[2022-09-22 20:59] Jacksole opened #130 "Issue with TCP Reconstruction"
Recently started using this tool and when I try to view TCP Streams I get this:

??_fz??j?"????,??d??
????d?uXA??;???	D]F?`?z??T?.
<?
???o???0?Y??j??w?p??\??????nj?-GH??z????5n???LR?????S????-k?$???<N?F
?C????????a???n?Ay?A?+?j?\?LD?E??_??+?~,? ???Q??/???:C?
????:?;9??????CRn93?M8deB?]???+??DL???}\X????Y?J<?O????G
????U????n?]$???E?]?r4?sk?Z???:?;?k?
?J????=vM]?p?Q?M?

[2022-09-23 04:27] odedshimon commented on #124
Thank you @sbrun, @Limpem
This is very helpful.
That might be a change needed in SharpPcap[](https://github.com/dotpcap/sharppcap) - a major framework BruteShark is using.
I'm currently on a vacation until mid November, I will try to investigate it when I will be back.

[2022-09-23 04:31] odedshimon commented on #130
Hey @Jacksole,
Looks like encryption / encoding issue, do you know what is the proper encoding for this stream? is it encrypted?

[2022-09-23 04:37] odedshimon commented on #129
Hey @cutaway,
Thanks for offering this.
I'm currently on a vacation until mid November.
In the meanwhile I will mark it as "help wanted" / "good first issue" in order raise the visiability of this issue.

[2022-10-17 06:20] Jweim1983 opened #131 "Help please"
bash: ./BruteSharkCli: Permission denied

[2022-10-18 06:49] ikakey commented on #131
chmod +x BruteSharkCli

[2022-10-27 07:41] odedshimon commented on #131
Thank you @ikakey.
Closing issue.

[2022-10-27 07:41] #131 closed, assigned to nobody